<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a8androidpetukhova_diploma">

    <application
        android:name="com.example.a8androidpetukhova_diploma.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.a8androidpetukhova_diploma.Activity.PinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.a8androidpetukhova_diploma.Activity.NewNoteActivity" />
        <activity android:name="com.example.a8androidpetukhova_diploma.Activity.NotesActivity" />
        <activity android:name="com.example.a8androidpetukhova_diploma.Activity.SetupActivity" />
<!--                <activity android:name=".PinActivity"/>-->
    </application>


</manifest>